/* Apps */

.icon-grid {
    spacing: 40px;
    -shell-grid-horizontal-item-size: 90px;
    -shell-grid-vertical-item-size: 90px;
}

.contact-grid {
    spacing: 26px;
    -shell-grid-horizontal-item-size: 80px;
    -shell-grid-vertical-item-size: 80px;
}

.icon-grid .overview-icon {
    icon-size: 40px;
}

.all-app {
    padding: 2px 10px 2px 10px;
    spacing: 40px;
}

.all-app:rtl {
    padding-right: 2px;
    padding-left: 16px;
}

.all-app .icon-grid {
    padding: 10px 15px;
}

.all-app .overview-icon {
    icon-size: 65px;
}


.dash-item-container > .app-well-app {
    padding: 3px 3px;
}

.remove-favorite-icon {
    color: #E6E6E6;
    icon-shadow: #000 0px -1px 0px;
}

.remove-favorite-icon:hover {
    color: #191919;
    icon-shadow: rgba(255,255,255,0.2) 0px 1px 0px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    color: rgba(255,255,255,1.0);
    font: 7pt;
    padding: 1px;
    text-align: center;
    spacing: 7px;
}

.app-well-app.running > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(169,182,204,0.5);
    background-gradient-end: rgba(104,122,148,0.2);
    color: rgba(255,255,255,0.9);
    -st-shadow: 0px -1px 5px 0px rgba(0,0,0,0.9);
/*  padding: 4px 7px 4px 7px;*/
    border-radius: 5px;
}

.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(168,182,204,0.7);
    background-gradient-end: rgba(102,127,165,0.7);
    color: rgba(255,255,255,0.9);
    padding: 4px 7px 4px 7px;   
    border-radius: 5px;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
	background-gradient-direction: vertical;
    background-gradient-start: rgba(169,182,204,0.5);
    background-gradient-end: rgba(104,122,148,0.2);
    border-radius: 5px;
}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
        background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(255,255,255,0.3);
    border-radius: 5px;
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.4);
    border: 1px 0 0 0 rgba(255,255,255,0.6);
}

.app-well-menu {
    font-size: 8pt;
}

/*These styles are applied to the icons in the dash*/
.dash-item-container {
}

.dash-item-container > .app-well-app {
    padding: 5px 1px 5px 0px;
}

.dash-item-container > StButton.app-well-app {
    padding: 5px 1px 5px 0px;
}
.dash-item-container .running > .overview-icon {
    background: url("img/running.svg");
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.0);
    background-gradient-end: rgba(255,255,255,0);
    color: rgba(255,255,255,0.9);
    padding: 5px 7px 5px 10px;
    border-radius: 0px;
}

 
.dash-item-container .running:hover  > .overview-icon{
    background: url("img/running-hover.svg"); 
    color: rgba(255,255,255,0.9);
    border-radius: 0px;


 } 

 .dash-item-container .running:active  > .overview-icon{
    background: url("img/running-active.svg");

    color: rgba(255,255,255,0.9);
    border-radius: 0px;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0) ;       
 } 



/*This section controls the app categories*/

.app-filter {
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;    
    color: #fff;
    font: 9pt;
    font-weight: bold; 
    height: 25px;
    width: 120px;
    padding: 4px 0px 4px 15px ;
    margin-right: 0px;
/*    box-shadow: inset 1px 0px 0px 0px rgba(255,255,255,0.3);    */
}

.app-filter:first-child{
    border-radius: 5px 5px 0 0;
    border-bottom: 0px;
/*    box-shadow: inset 1px 0px 0px 0px rgba(255,255,255,0.3);    */
    border-top: 1px;
}    

.app-filter:last-child{
    border-radius: 0 0 5px 5px;  
    border-top: 0px;
    border-bottom: 1px;
/*    box-shadow: inset 1px 0px 0px 0px rgba(255,255,255,0.3);    */
}
.app-filter:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(169,182,204,0.5);
    background-gradient-end: rgba(104,122,148,0.2);
    border-top: 0;
    border-bottom: 0;
    padding: 4px 0px 4px 15px ;
    color: rgba(255,255,255,1);
}

.app-filter:hover:first-child{
    border-radius: 5px 5px 0 0;
    padding: 5px 0px 4px 15px ;    
}

.app-filter:hover:last-child{
    border-radius: 0 0 5px 5px;
   
}

.app-filter:selected {
    color: #fff;
    background-gradient-direction: vertical;
	background-gradient-start: #A9B6CC;
	background-gradient-end: #687A94;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.7);
    text-shadow: rgba(0,0,0,0.8) 0px -1px 0px;   
    padding: 3px 0px 3px 15px ;   
}

.app-filter:selected:first-child{
    padding: 4px 0px 4px 15px ;   
}

.app-filter:selected:last-child{
    border-bottom: 1px;
    border-radius: 0 0 5px 5px;      
}
/*End right categories*/



/*Contacts*/

.contact-grid {
    spacing: 5px;
    -shell-grid-horizontal-item-size: 218px; /* 2 * -shell-grid-horizontal-item-size + spacing */
    -shell-grid-vertical-item-size: 118px;
}

.contact {
    width: 218px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 100;
    font-size: 8pt;
    
}

.contact-content {
    border-radius: 3px;
    padding: 8px;
    width: 212px;
    height: 84px;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(45,45,45,0.8);
	background-gradient-end: rgba(0,0,0,0.8);
	border: 1px solid rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    font-size: 8pt;
    transition-duration: 100;
}

.contact-icon {
  border-radius: 4px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 16px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 8pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}


.contact:hover > .contact-content {
    background-gradient-start: rgba(169,182,204,0.4);
	background-gradient-end: rgba(104,122,148,0.2);
	background-gradient-direction: vertical;
    transition-duration: 100;
}

/*End Contacts*/
