/* Shared button properties */

.dash-search-button, .notification-button,
.notification-icon-button, .modal-dialog-button,
.hotplug-resident-eject-button, .hotplug-notification-item {
	background-gradient-direction: vertical;
	background-gradient-start: #616161;
	background-gradient-end: #2d2d2d;
	border-radius: 4px;
	border: 1px solid #2C2C2C;
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3);
	-st-shadow: outset 0px 1px 0px 0px rgba(0,0,0,0.5);
	color: white;
	text-shadow: #2D2D2D 0px -1px 1px;
	font-size: 9pt;
	padding: 5px 15px;
	transition-duration:150;
}


.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    background-gradient-start: #A9B6CC;
    background-gradient-end: #687A94;
    box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.5);
    border: 1px solid #4D5A6E;
    transition-duration:150;
}

.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {

}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .modal-dialog-button:active,
.hotplug-resident-eject-button:active,.modal-dialog-button:pressed {
    background-gradient-start: #687A94;
	background-gradient-end: #A9B6CC;
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
	border: #4D5A6E;
	transition-duration:150;
}
