/**
 * Custom Entry Properties
 *
 */
.polkit-dialog-password-entry,
.login-dialog-prompt-entry,
.run-dialog-entry,
#notification StEntry,
#searchEntry:hover
 {
    border: 1px solid rgba(255,255,255,0.8);
	background-gradient-direction: vertical;
	background-gradient-start: #AFAFAF;
	background-gradient-end: #FFF;
	box-shadow: -1px 1px 3px 1px #000;
    caret-color: #2D2D2D;
    caret-size: 1px;
    border-radius: 2px;
    height: 16px;
    padding: 3px 3px;    
}

.polkit-dialog-password-entry:focus,
.login-dialog-prompt-entry:focus,
.run-dialog-entry:focus,
#notification StEntry:focus,
#searchEntry:focus
 {
    border: 1px groove #687A94;
    /*box-shadow: inset 0px 0px 1px 1px #95A8C5;
    outline: 1px ridge #FF00FF;*/
    -st-shadow: -1px 10px 3px 5px #000;
    color: #333333;
    background-gradient-direction: vertical;
	background-gradient-start: #AFAFAF;
	background-gradient-end: #FFF;
    caret-color: #545454;
    selection-background-color: #808080;
    font: 8pt;
}
