/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-radius: 4px;
    -arrow-background-color: rgba(0,0,0,0.8);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(255,255,255,0.4);
    -arrow-base: 15px;
    -arrow-rise: 7px;
    box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.5);
    -st-shadow: 0px 1px 15px 5px rgba(0,0,0,0.5);
    outline-radius: 5px 5px 0 0 ;
    padding: 2px 7px 0px 7px;    
 }

.popup-menu {
    color: #FFF;
    min-width: 120px;
    padding: 5px;
}

.popup-submenu-menu-item:open {
    background-color: rgba(35,35,35,0.8);
}

.popup-sub-menu {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(25,25,25,0.7);
    background-gradient-end: rgba(0,0,0,0.7);
    color: rgba(0,0,0,0.8);
    border-radius: 0px;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-gradient-direction: horizontal;
    background-gradient-start: #A9B6CC;
    background-gradient-end: #667FA5;
    border-width: 0px;
}

.popup-combo-menu {
    background-color: rgba(255,255,255,0.9);
    padding: 1em 0em;
    color: #000;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 0.4em
    padding-left: 0.0em;
    padding-right: 0.0em;
}

.popup-menu-item {
    color: #fff;
    font-size: 8.7pt;
    padding: 0.5em 1.5em;
}

.popup-menu-item:hover,
.popup-menu-item:active {
    color: #fff;
    border: 1px  rgba(0,0,0,0.7);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(161,174,197,0.9);
    background-gradient-end: rgba(104,122,148,1.0); 
    box-shadow: inset 0px 1px 2px rgba(255,255,255,0.4);
    text-shadow: rgba(25,25,25,0.6) -1px -1px 1px;
    padding: 0.4em 1.4em; /*This padding is set like that because I'm using a border of 1px, so I needed to decrease it a 0.1em to keep the elements from moving*/
}

.popup-menu-item:first-child {
    border-radius: 5px 5px 0 0;
    outline-radius: 5px 5px 0 0 ; 
}

.popup-menu-item:last-child {
    border-radius: 0 0 5px 5px;
    outline-radius: 0 0 5px 5px; 
}

.popup-menu-item:only-child {
    border-radius: 5px;
    outline-radius: 5px; 
}

.popup-menu-item:insensitive {
    color: #9f9f9f;
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,1);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 0.1em; 
}

.popup-alternating-menu-item:alternate {
}

.popup-slider-menu-item {
    height: 1.2em;
    min-width: 15em;
    -slider-height: 5px;
    -slider-background-color: #2d2d2d;
    -slider-border-color: rgba(185,185,185,0.8);
    -slider-active-background-color: #687A94;
    -slider-active-border-color: rgba(169,182,204,0.8);
    -slider-border-width: 1px;
    -slider-border-radius: 8px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
}

.popup-menu-icon {
    icon-size: 1.20em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 64px;
    height: 26px;
}

.toggle-switch-us {
    background-image: url("img/off.svg");
}
.toggle-switch-us:checked {
    background-image: url("img/on.svg");
}

.toggle-switch-intl {
    background-image: url("img/off.png");
}
.toggle-switch-intl:checked {
    background-image: url("img/on.png");
}

.nm-menu-item-icons {
    spacing: .2em;
}
