/* Fallback Mode Panel */
PanelWidget,
PanelApplet,
PanelToplevel,
.desktop-panel {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	padding: 0;
	color: @dark_fg_color;
	text-shadow: none;
	border-image: none;
}

PanelApplet {
	border-width: 0;
}

PanelSeparator {
	border-width: 0;
	background-color: transparent;
	color: @dark_fg_color;
	text-shadow: none;
	border-image: none;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem,
.desktop-panel .menubar,
.desktop-panel .menubar .menuitem {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	text-shadow: none;
	border-image: none;
}

PanelAppletFrame { 
	background-color: @dark_bg_color;
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));
	border-width: 0;
	text-shadow: none;
	border-image: none;
}

PanelApplet .button,
.desktop-panel .button {
	-GtkButton-inner-border: 2;

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.5)),
		to (shade (@dark_bg_color, 1.05)));

	border-color: transparent;
	border-radius: 0;
	border-width: 0 1px 0 1px;

	color: @dark_fg_color;
	text-shadow: none;
	border-image: none;
}

PanelApplet .button:prelight:active,
PanelApplet .button:active,
.desktop-panel .button:prelight:active,
.desktop-panel .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 0.85)),
		to (shade (@dark_bg_color, 1.0))); 
	border-color: shade (@dark_bg_color, 0.78);
	border-radius: 0;
	border-width: 0 1px 0 1px;
	text-shadow: none;
	border-image: none;
	box-shadow: inset 0 0 2px 1px alpha (black, 0.5);
}

PanelApplet .button:prelight,
.desktop-panel .button:prelight {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@dark_bg_color, 1.7)),
		to (shade (@dark_bg_color, 1.25)));
	border-color: transparent;
	border-radius: 0;
	border-width: 0 1px 0 1px;
	text-shadow: none;
	border-image: none;
}

ClockBox {
	text-shadow: none;
}

WnckPager, WnckTasklist {
	background-color: @dark_bg_color;
	text-shadow: none;
}

/* Classic icon style */
.gnome-panel-menu-bar {
	-PanelMenuBar-icon-visible: true;
	border-image: none;
}

/* Makes the text color on the dark panel white */
.gnome-panel-menu-bar .menuitem {
	color: @dark_fg_color;
	text-shadow: none;
}

.gnome-panel-menu-bar .menuitem:hover {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.85)));
	border-width: 0;
	color: @dark_fg_color;
	text-shadow: none;
}

/* Makes sure that the menus doesn't get white text */
.gnome-panel-menu-bar .menu.menuitem,
.gnome-panel-menu-bar .menu .menuitem {
	color: @fg_color;
}

.gnome-panel-menu-bar .menu.menuitem:hover,
.gnome-panel-menu-bar .menu .menuitem:hover {
	color: @selected_fg_color;
}

NaTrayApplet {
	-NaTrayApplet-icon-padding: 12;
	-NaTrayApplet-icon-size: 16;
}

/* Fixes the indicator applet text */
PanelApplet > GtkMenuBar > GtkMenuItem > GtkBox > GtkLabel {
	color: @dark_fg_color;
	text-shadow: none;
	border-image: none;
}
