@define-color cluebar_color shade (@base_color, 0.9);

NautilusWindow * {
	-GtkPaned-handle-size: 1;
}

NautilusWindow .view {
	background-color: @base_color;
}

NautilusWindow .view:selected {
	background-color: @selected_bg_color;
}

NautilusWindow .view:selected:backdrop {
	background-color: @backdrop_selected_bg_color;
}

NautilusWindow .view.rubberband {
	background-color: alpha (@selected_bg_color, 0.35);
}

.nautilus-inactive-pane .view {
	background-color: shade (@base_color, 0.96);
}

.nautilus-inactive-pane .view:selected,
.nautilus-inactive-pane .nautilus-canvas-item:selected {
	background-color: @backdrop_selected_bg_color;
	color: @backdrop_selected_fg_color;
}

.nautilus-inactive-pane .expander.view:selected {
	background-color: @backdrop_selected_bg_color;
}

.nautilus-canvas-item {
	border-radius: 2px;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
	color: @bg_color;
	text-shadow: 1px 1px alpha (#000000, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active {
	background-image: none;
	background-color: alpha (@bg_color, 0.84);
	color: @fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
	background-image: none;
	background-color: alpha (@selected_bg_color, 0.84);
	color: @selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
	text-shadow: none;
}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@cluebar_color, 1.0)),
		to (shade (@cluebar_color, 1.0)));
	background-color: @cluebar_color;
	border-bottom-color: shade (@cluebar_color, 0.92);
	border-radius: 0;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: @fg_color;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight {
	color: @fg_color;
}

NautilusWindow .toolbar {
	padding: 2px;
}

NautilusWindow > GtkGrid > .pane-separator {
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: shade (@bg_color, 0.84);
}

NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover {
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: shade (@bg_color, 0.84);
	background-color: @bg_color;
	color: shade (@bg_color, 0.9);
}

NautilusView.frame,
NautilusNotebook.notebook {
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

NautilusNotebook.notebook tab.top,
NautilusNotebook.notebook tab.bottom {
	border-right-width: 1px;
	border-left-width: 1px;
}

NautilusNotebook .frame {
	border-width: 1px 0 0 0;
}

/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {
	background-color: shade (@bg_color, 1.08);
	color: @fg_color;
	text-shadow: 0 1px shade (shade (@bg_color, 0.95), 1.04);  
}

NautilusWindow .sidebar row:selected {
	color: @selected_fg_color;
	text-shadow: 0 -1px shade (@selected_bg_color, 0.8); 
}

NautilusWindow .sidebar row:backdrop:selected {
	color: @backdrop_selected_fg_color;
	text-shadow: none; 
}

NautilusWindow .sidebar .frame {
	border-top-width: 1px;
	border-style: solid;
	border-color: shade (@bg_color, 0.82);
}
