UnityPanelWidget,
.unity-panel {

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#444),                                     
                                     to   (#444));

    border-width: 0px;
	border-style: none;

}

.unity-panel.menubar,
.unity-panel .menubar {
	color: #f0f0f0;
    
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px;

    /* icon-shadow: 0 1 shade (@theme_bg_dark_color, 1.06); */
}


