dist
cabal-dev
*.hi
*.chi
*.chs.h
.virthualenv

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
