#include "/home/sunn/.colors/erosionedit"

! #########################################
urxvt*perl-lib:			/usr/lib/urxvt/perl
urxvt*perl-ext-common:		default,matcher,clipboard,font-size
urxvt*perl-matcher: 		1
urxvt*matcher-button: 		3
urxvt*url-launcher:		/usr/bin/firefox
!URxvt*matcher.button: 1
!URxvt*matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
urxvt*cursorUnderline: 1
urxvt*letterspace: -5
!urxvt*fading: 			10
!urxvt*fadeColor: 		#000000	
urxvt*cursorBlink:		true
urxvt*scrollBar:		false
urxvt*depth:			32 
urxvt*internalBorder: 		5
urxvt*dynamicColors: on
urxvt.urgentOnBell:  true

! Font change settings
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-7: command:\033]710;-lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1\007\033]711;-lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1\007
URxvt.keysym.C-8: command:\033]710;-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*\007\033]711;-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*\007
!URxvt.keysym.C-8: command:\033]710;-*-lemon-*-*-*-*-*-*-*-*-*-*-*-*\007\033]711;-*-lemon-*-*-*-*-*-*-*-*-*-*-*-*\007
!URxvt.keysym.C-9: command:\033]710;-*-tewi-medium-r-normal-*-*-*-*-*-*-*-*-*\007\033]711;-*-tewi-medium-r-normal-*-*-*-*-*-*-*-*-*\007
URxvt.keysym.C-9: command:\033]710;-*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*\007\033]711;-*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*\007
URxvt.keysym.C-0: command:\033]710;xft:monaco:size=9\007\033]711;xft:monaco:size=9\007
URxvt.keysym.C-equal:	perl:font-size:increase
URxvt.keysym.C-minus:   perl:font-size:decrease

!urxvt*font: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*boldFont: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*italicFont: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*

urxvt*font: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
urxvt*boldFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
urxvt*italicFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
urxvt*bolditalicFont:-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*

!urxvt*font: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1
!urxvt*boldFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1
!urxvt*italicFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1
!urxvt*bolditalicFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1

!urxvt*font: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
!urxvt*boldFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
!urxvt*italic: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
!urxvt*bolditalicFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1

!urxvt*font: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: xft:dejavu sans mono:size=10
!urxvt*boldFont: xft:dejavu sans mono:bold:size=10
!urxvt*italicFont: xft:dejavu sans mono:italic:size=10

!urxvt*font: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!urxvt*boldFont: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!urxvt*italicFont: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!urxvt*bolditalicFont: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1

!urxvt*font: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-profont-medium-*-*-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-profont-bold-*-*-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-profont-medium-*-*-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-profont-bold-*-*-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*



!urxvt*font: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*


!urxvt*font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*boldFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*italicFont: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*

!urxvt*font: xft:inconsolata:size=11
!urxvt*boldFont: xft:inconsolata:bold:size=11
!urxvt*italicFont: xft:inconsolata:italic:size=11

!urxvt*font: -*-gohufontmod11-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-gohufontmod11-bold-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-gohufontmod11-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-gohufontmod11-bold-r-normal-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-terminus12-medium-r-normal-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-terminus12-bold-r-normal-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-terminus12-medium-r-normal-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-terminus12-bold-r-normal-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*boldFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*italicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*bolditalicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

xclock*majorColor: #9a875f
xclock*minorColor: #9a875f
xclock*minuteColor: #9a875f
xclock*hourColor: #9a875f
xclock*secondColor: #9a875f
