#include "/Users/sunn/.colors/base16/base16-grayscale.dark.xresources"
!#include "/Users/sunn/.colors/mikado"

! #########################################
!urxvt.termName: xterm
urxvt*cursorUnderline: 1
urxvt*fading: 1
urxvt*cursorBlink: true
!urxvt*imLocale: en_US.UTF-8
urxvt*scrollBar: false
URxvt*internalBorder:5
urxvt*visualBell: false

urxvt*perl-lib:			/usr/local/Cellar/rxvt-unicode/9.20/urxvt/perl
urxvt*perl-ext-common:		default,matcher,font-size
urxvt*perl-matcher: 		1
urxvt*matcher-button: 		3
urxvt*url-launcher:		/usr/bin/firefox

! Font change settings
!URxvt.iso14755: false
!URxvt.iso14755_52: false
URxvt.keysym.C-7: command:\033]710;-*-fixed-*-*-*-*-*-*-*-*-*-*-*-*\007\033]711;-*-fixed-*-*-*-*-*-*-*-*-*-*-*-*\007
URxvt.keysym.C-8: command:\033]710;-misc-tamsyn-medium-r-normal--14-*-*-*-*-*-*-*\007\033]711;-misc-tamsyn-medium-r-normal--14-*-*-*-*-*-*-*\007
URxvt.keysym.C-9: command:\033]710;-lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1\007\033]711;-lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1\007
URxvt.keysym.C-0: command:\033]710;xft:monaco:size=9\007\033]711;xft:monaco:size=9\007
URxvt.keysym.C-equal:	perl:font-size:increase
URxvt.keysym.C-minus:   perl:font-size:decrease

!urxvt*font: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*boldFont: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*italicFont: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tamzen-medium-r-normal-*-*-87-*-*-*-*-*-*

!urxvt*font: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont:-*-neep-medium-r-semicondensed-*-11-*-*-*-*-*-*-*

!urxvt*font: -lokaltog-fixed-medium-r-normal--12-100-75-75-c-60-iso8859-1
!urxvt*boldFont: -lokaltog-fixed-medium-r-normal--12-100-75-75-c-60-iso8859-1
!urxvt*italicFont: -lokaltog-fixed-medium-r-normal--12-100-75-75-c-60-iso8859-1
!urxvt*bolditalicFont: -lokaltog-fixed-medium-r-normal--12-100-75-75-c-60-iso8859-1

!urxvt*font: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
!urxvt*boldFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
!urxvt*italic: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1
!urxvt*bolditalicFont: -lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso10646-1

!urxvt*font: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: xft:dejavu sans mono:size=10
!urxvt*boldFont: xft:dejavu sans mono:bold:size=10
!urxvt*italicFont: xft:dejavu sans mono:italic:size=10

!urxvt*font: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!urxvt*boldFont: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!urxvt*italicFont: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!urxvt*bolditalicFont: -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1

!urxvt*font: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-profont-medium-*-*-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-profont-bold-*-*-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-profont-medium-*-*-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-profont-bold-*-*-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-dash-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*



!urxvt*font: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-termsyn-medium-r-normal-*-14-*-*-*-*-*-*-*
!urxvt*boldFont: -*-termsyn-bold-r-normal-*-14-*-*-*-*-*-*-*
!urxvt*italicFont: -*-termsyn-medium-r-normal-*-14-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-termsyn-bold-r-normal-*-14-*-*-*-*-*-*-*


!urxvt*font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*boldFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*italicFont: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*

!urxvt*font: xft:inconsolata:size=11
!urxvt*boldFont: xft:inconsolata:bold:size=11
!urxvt*italicFont: xft:inconsolata:italic:size=11

!urxvt*font: -*-gohufontmod11-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-gohufontmod11-bold-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-gohufontmod11-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-gohufontmod11-bold-r-normal-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-terminus12-medium-r-normal-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-terminus12-bold-r-normal-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-terminus12-medium-r-normal-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-terminus12-bold-r-normal-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*boldFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*italicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*bolditalicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 

!urxvt*font:-xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!urxvt*boldFont: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!urxvt*italicFont: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!urxvt*bolditalicFont: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1

urxvt*font: -misc-tamsyn-medium-r-normal--14-*-*-*-*-*-*-*
urxvt*boldFont: -misc-tamsyn-medium-r-normal--14-*-*-*-*-*-*-*
urxvt*italicFont: -misc-tamsyn-medium-r-normal--14-*-*-*-*-*-*-*
urxvt*bolditalicFont: -misc-tamsyn-medium-r-normal--14-*-*-*-*-*-*-*

!urxvt*font: xft:monaco:size=9
!urxvt*boldFont: xft:monaco:size=9
!urxvt*italicFont: xft:monaco:size=9
!urxvt*bolditalicFont: xft:monaco:size=9

!xclock*majorColor: #9a875f
!xclock*minorColor: #9a875f
!xclock*minuteColor: #9a875f
!xclock*hourColor: #9a875f
!xclock*secondColor: #9a875f
