#include "/home/sunn/.colors/erosionedit"
#include "/home/sunn/.xtermconf"

! #########################################
urxvt.termName: rxvt-unicode-256color
urxvt*perl-lib:			/usr/lib/urxvt/perl
urxvt*perl-ext-common:		default,matcher,clipboard
urxvt*perl-matcher: 		1
urxvt*matcher-button: 		1
urxvt*urlLauncher:		/usr/bin/chromium
urxvt*cursorUnderline: 1
!urxvt*letterspace: -1
!urxvt*fading: 			10
urxvt*fadeColor: 		#000000	
urxvt*cursorBlink:		true
urxvt*scrollBar:		false
urxvt*depth:		32
urxvt*internalBorder: 2

!urxvt*font: -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-uushi-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-suxus-*-*-*-*-*-*-*-*-*-*-*-*

urxvt*font: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*boldFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*italicFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*
urxvt*bolditalicFont: -*-limey-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lime-*-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-cure-medium-*-*-*-*-*-*-*-*-*-*-*

!urxvt*font: -*-tamsyn-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*boldFont: -*-tamsyn-bold-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*italicFont: -*-tamsyn-medium-r-normal-*-*-87-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-tamsyn-bold-r-normal-*-*-87-*-*-*-*-*-*

!urxvt*font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*boldFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*italicFont: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*

!urxvt*font: xft:inconsolata:size=11
!urxvt*boldFont: xft:inconsolata:bold:size=11
!urxvt*italicFont: xft:inconsolata:italic:size=11

!urxvt*font: -*-gohufont-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-gohufont-bold-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-gohufont-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-gohufont-bold-r-normal-*-11-*-*-*-*-*-*-*

!urxvt*font: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*boldFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*italicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 
!urxvt*bolditalicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 

Xft.dpi:	72
Xft.rgba:	rgb
Xft.antialias: 	true
Xft.hinting: 	true
Xft.autohint: 	false
Xft.hintstyle: 	hintslight
Xft.lcdfilter: 	lcddefault
