/*** Unity ***/

UnityPanelWidget,
.unity-panel {
    /*background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.1)),
                                     to (@toolbar_gradient_start));*/
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_color, 1.1)),
                                     to (red));
    background-color: red;
    border-top-color: shade (@theme_bg_color, 1.4);
    border-style: solid;
    border-width: 1px 0 0 0;

    color: @theme_fg_color;
    text-shadow: 0 1px alpha (white, 0.3);
}

.unity-panel.menubar,
.unity-panel .menubar {
    padding: 1px 0;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
/*    border-width: 1px 1px 0 1px;*/

    color: @theme_fg_color;
    icon-shadow: 0 1px alpha (white, 0.3);
    padding-left: 6px;
    padding-right: 6px;
}

.unity-panel.menuitem:hover,
.unity-panel .menuitem:hover {
    border-top-width: 1px;
    border-top-color: transparent;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
}


