*:insensitive,
.button:insensitive,
.inline-toolbar.toolbar .button:insensitive,
GtkContainer > GtkContainer > GtkContainer > GtkContainer > * > .toolbar .button:insensitive,
.button:insensitive:backdrop,
.inline-toolbar.toolbar .button:insensitive:backdrop,
GtkContainer > GtkContainer > GtkContainer > GtkContainer > * > .toolbar .button:insensitive:backdrop {
    color: alpha (@theme_fg_color, 0.5);
    text-shadow: 0 -1px alpha (shade (@theme_bg_color, 0.6), 0.5);
}

.level-bar.fill-block {
    border-color: shade (@theme_selected_bg_color, 0.4);
}

.button:hover,
.inline-toolbar.toolbar .button:hover,
GtkContainer > GtkContainer > GtkContainer > GtkContainer > * > .toolbar .button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@button_bg_color, 1.22)),
                                     to (shade (@button_bg_color, 0.95)));
}

GtkSwitch.trough,
GtkSwitch.trough:backdrop {
    background-image: url("assets/dark-switch-off.svg");
}

GtkSwitch.trough:active {
    background-image: url("assets/dark-switch-on.svg");
}

GtkSwitch.trough:insensitive {
    background-image: url("assets/dark-switch-off-disabled.svg");
}

GtkSwitch.trough:active:insensitive {
    background-image: url("assets/dark-switch-on-disabled.svg");
}

GtkSwitch.trough:backdrop {
    background-image: url("assets/dark-backdrop-switch-off.svg");
}

GtkSwitch.trough:active:backdrop {
    background-image: url("assets/dark-backdrop-switch-on.svg");
}

GtkSwitch.trough:insensitive:backdrop {
    background-image: url("assets/dark-backdrop-switch-off-disabled.svg");
}

GtkSwitch.trough:active:insensitive:backdrop {
    background-image: url("assets/dark-backdrop-switch-on-disabled.svg");
}

* {
    -unico-arrow-texture: url("assets/dark-combobox-arrow.png");
}

.arrow:insensitive {
    -unico-arrow-texture: url("assets/dark-combobox-arrow-disabled.png");
}

.menuitem.arrow {
    -unico-arrow-texture: url("assets/dark-menuitem-arrow.png");
}

.menuitem.arrow:hover {
    -unico-arrow-texture: url("assets/dark-menuitem-arrow-hover.png");
}

.menuitem.arrow:insensitive {
    -unico-arrow-texture: url("assets/dark-menuitem-arrow-disabled.png");
}
