/*default color scheme */
@define-color theme_bg_color #505967;
@define-color theme_fg_color #cfd6e1;
@define-color theme_base_color #6a7688;
@define-color theme_text_color #e1e5ea;
@define-color theme_selected_bg_color #4784de;
@define-color theme_selected_fg_color #f5f5f5;
@define-color theme_tooltip_bg_color #000000;
@define-color theme_tooltip_fg_color #ffffff;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (152, 139, 118);
@define-color info_bg_color rgb (252, 246, 202);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color #2a588b;
@define-color question_bg_color #d4dae1;
@define-color error_fg_color #733339;
@define-color error_bg_color #db5561;
@define-color link_color #4784de;
@define-color error_color #db5561;
@define-color warning_color #fa9a5a;
@define-color success_color #84c98e;

/* theme common colors */
@define-color theme_fg_color_insensitive mix (@theme_base_color, @theme_fg_color, 0.5);
@define-color theme_text_color_insensitive mix (@theme_base_color, @theme_text_color, 0.5);

@define-color button_bg_color shade (@theme_bg_color, 1.1);
@define-color button_insensitive_bg_color mix (@button_bg_color, @theme_bg_color, 0.6);

@define-color notebook_bg_color #5a6372;
@define-color notebook_tab_bg_color #505967;

@define-color sidebar_bg_color #d4dae1;
@define-color sidebar_fg_color #3d444f;
@define-color sidebar_selected_bg_color #9ab1cb;

@define-color backdrop_fg_color mix (@theme_bg_color, @theme_fg_color, 0.8);
@define-color backdrop_text_color mix (@theme_base_color, @theme_text_color, 0.8);
@define-color backdrop_selected_bg_color shade (@theme_bg_color, 0.92);
@define-color backdrop_selected_fg_color @theme_fg_color;

@define-color toolbar_gradient_start shade (@theme_bg_color, 0.9);
@define-color toolbar_gradient_end shade (@theme_bg_color, 0.8);
@define-color toolbar_border shade (@theme_bg_color, 0.7);

@define-color highlight_color alpha (white, 0.1);
@define-color highlight_menu_color alpha (white, 0.15);
@define-color shadow_color alpha (black, 0.2);

@define-color progressbar_border_color alpha (shade (@theme_selected_bg_color, 0.5), 0.8);
@define-color backdrop_progressbar_border_color alpha (shade (@theme_bg_color, 0.6), 0.8);

@define-color terminal_bg_color #323841;


/* Window manager */
@define-color wm_title @theme_fg_color;
@define-color wm_unfocused_title shade(@theme_fg_color, 1.2);
@define-color wm_highlight alpha(#ffffff, 0.2);
@define-color wm_title_highlight_dark alpha(#ffffff, 0.05);
@define-color wm_title_highlight alpha(#ffffff, 0.2);

@import url("gtk-widgets-borders-dark.css");
@import url("gtk-widgets-assets-dark.css");
@import url("gtk-widgets.css");
@import url("gtk-apps.css");
@import url("gtk-overrides-dark.css");
