body {
  color: black;
  background: #f0f0f0;
  margin: 0px;
}

#wrapper { 
  margin: 0px 0px;
  width: 220px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  margin-left: 30px;
  border-left: 2px groove white;
  padding-left: 5px;
  padding-bottom: 5px;
}

.separator {
  width: 100%;
  border-top: 2px groove white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
  margin-right: -8px;
}

.menu-entry {
  padding: 3px 2px;
  cursor:pointer;
}

.menu-entry:hover {
  border: 1px solid #AECFF7;
  border-radius: 3px;
  padding: 2px 1px;
  padding-left:37px;
  margin-left:-36px;
}

.info {
  background: #dddddd;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#titletext {
  padding: 8px 8px 2px 0px;
  text-align: right;
}
#titletext span {
  font-weight: bold;
  cursor: default;
}
#titletext span:hover {
  text-decoration: underline;
}

.box-wrapper {
  margin: 5px 5px 5px 0px;
}

.box {
  background:white; 
  border-radius: 5px;
  border: 1px solid black; 
  padding: 10px;
}

#pay_open {
  padding-bottom: 3px;
}

#pay_close {
  margin: -7px 0px 0px 0px;
  font-family: "Courier", sans-serif;
}
