# ==============================================================================
# BANSHEE SPECIFIC SETTINGS
# ==============================================================================

style "banshee_scrollbar" {
	engine "murrine" {
		roundness = 20
            border_shades = {1.0, 1.0}
	}
}

widget    "__gtksharp_1*SeekSlider*"    style "scale"
widget    "__gtksharp_1*Player*croll*"      style "banshee_scrollbar"

widget_class    "__gtksharp_1*<GtkToolbar>*"    style "dark"
widget_class    "__gtksharp_1*<GtkButton>*"     style "button"
#widget_class    "__gtksharp_1*<GtkScale>*"      style "scale"







