/* Fallback Mode Panel */
PanelToplevel,
PanelWidget,
PanelAppletFrame,
PanelApplet {
    padding: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@selected_bg_color),
                                     to (@bg_color));
    /*background-image: url("panel.png");*/

    color: @theme_fg_color;
                                     
    border-color: alpha (@menuitem_border, 0.7);
    border-style: solid;
    border-width: 0 0 1 0;
}

PanelBottomLevel {
  background-color: @theme_bg_color;
  background-image: none;
  -unico-border-gradient: none;
}

ClockBox,
.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
  padding: 0;
  background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@dark_bg_color),
                                     to (@dark_fg_color));
  /*background-image: url("panel.png");*/

  color: @theme_fg_color;
    
  border-style: none;  
  border-width: 0;
	border-radius: 0;
  font: bold;
  
  -PanelMenuBar-icon-visible: true;
}

.gnome-panel-menu-bar .menuitem:prelight,
PanelApplet > GtkMenuBar.menubar .menuitem:prelight,
.gnome-panel-menu-bar .menuitem *:prelight,
PanelApplet > GtkMenuBar.menubar .menuitem *:prelight {
	background-color: @theme_bg_color;
  color: @theme_fg_color;
  text-shadow: @theme_bg_color 0 1;
}

PanelApplet .button {
	-unico-focus-border-color: alpha (@selected_bg_color, 0.5);
	-unico-focus-fill-color: @transparent;
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.6);

	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.1)),
		to (shade (@button_bg_color, 0.99)));
	border-radius: 2;
	padding: 2;
	border-style: solid;

	text-shadow: 0 1 alpha (shade (@button_bg_color, 1.25), 0.4);

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.7)),
		to (shade (@theme_bg_color, 0.6)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@theme_bg_color, 1.9);
	-unico-inner-stroke-width: 1 1 0 1;
}

PanelApplet *:prelight,
PanelApplet .button:prelight {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@button_bg_color, 1.2)),
		to (shade (@button_bg_color, 1.04)));
}

PanelApplet *:active,
PanelApplet .button:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.9)),
		to (shade (@theme_bg_color, 0.85)));

	-unico-focus-outer-stroke-color: @transparent;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.6)),
		to (shade (@theme_bg_color, 0.6)));
	-unico-glow-radius: 0;
	-unico-inner-stroke-color: shade (@theme_bg_color, 0.8);
	-unico-inner-stroke-width: 1 1 0 1;
}

PanelApplet *:prelight:active,
PanelApplet .button:active:prelight {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.95)),
		to (shade (@theme_bg_color, 0.9)));

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.6)),
		to (shade (@theme_bg_color, 0.6)));
	-unico-inner-stroke-color: shade (@theme_bg_color, 0.85);
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 12;
    -NaTrayApplet-icon-size: 16;
}

WnckPager, WnckTasklist {
    background-color: @theme_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

GsmFailWhaleDialog {
    background-color: @theme_chrome_bg_color;
    background-image: none;
    color: @theme_fg_color;
}

GsmFailWhaleDialog * {
    background-color: @theme_bg_color;
    background-image: none;
}
