/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: @bg_color;
    text-shadow: 1 1 alpha (@bg_color, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    background-color: alpha (@bg_color, 0.84);
    border-radius: 4;

    color: @fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-image: none;
    background-color: alpha (@selected_bg_color, 0.84);
    border-radius: 4;

    color: @selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusQueryEditor.info {

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@tooltip_bg_color),
                                     to (@tooltip_bg_color));
    border-radius: 3;
    border-style: solid;
    border-width: 0;
    border-color: darker (darker (@tooltip_bg_color));
    color: @tooltip_fg_color;

    -unico-border-gradient: none;

}

NautilusSearchBar.info {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@tooltip_bg_color),
                                     to (@tooltip_bg_color));
    border-radius: 3;
    border-style: none;
    border-width: 0;
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (@bg_color),
                                           to (alpha (@menuitem_border, 0.3)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (@bg_color),
                                           to (alpha (@menuitem_border, 0.3)));
  	-unico-inner-stroke-width: 1;
    color: @tooltip_fg_color;
}

NautilusSearchBar .entry {
    border-radius: 16;
    border-color: @bg_color;
    border-width: 0;
    border-style: solid;
    /*-GtkEntry-inner-border: 3;*/
}

.nautilus-cluebar-label {
    color: @tooltip_fg_color;
}

#nautilus-search-button *:active,
#nautilus-search-button *:prelight,
#nautilus-search-button *:selected,
#nautilus-search-button *:active:prelight {
    color: @fg_color;
    font-weight: bold;
}

NautilusFloatingBar {
    background-color: @tooltip_bg_color;
    border-radius: 1 1 0 0;
    border-style: solid;
    border-width: 0;
    border-color: darker (darker (@tooltip_bg_color));
    color: @tooltip_fg_color;

    -unico-border-gradient: none;
}

NautilusFloatingBar .button {
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {
    background-color: @bg_color;
}

NautilusWindow .sidebar .frame {
    border-radius: 0;
    border-width: 0;
}

NautilusWindow > GtkTable > .pane-separator {
}
