UnityPanelWidget,
.unity-panel {
    background-image:-gtk-gradient (linear, left top, left bottom,
                                     from (@bg_color),
                                     to (@bg_color));
                                     
    border-color: alpha (@menuitem_border, 0.7);
    border-style: solid;
    border-width: 0 0 0 0;
    -unico-border-gradient: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1 1 0 1;
    border-radius: 2 2 0 0;
    icon-shadow: 0 1 shade (@dark_bg_color, 1.06);
    color: alpha (@theme_fg_color, 0.9);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  background-image: -gtk-gradient (linear, left top, left bottom,
                                   from (@selected_bg_color),
                                   to (@selected_bg_color));

	color: @selected_fg_color;
	text-shadow: none;
	
  border-radius: 1;
	border-width: 1;
	border-color: @menuitem_border;
	border-style: solid;
	-unico-inner-stroke-style: none;
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (@menuitem_border, 0.5)),
		to (alpha (@menuitem_border, 0.5)));
}
