/****************
 * Applications *
 ****************/
ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* nautilus */
.nautilus-canvas-item {
    border-radius: 0px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_color, 1.04)),
                                     to   (shade(@theme_bg_color, 1.04)));

    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
	-unico-border-gradient: none;
    border-color: @transparent @transparent shade(@theme_base_color, 1.00) @transparent;

    padding: 1px 3px 2px;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;    
}

NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {
	padding: 0px 2px;
}

#nautilus-search-button *,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {

    background-image: none;

	-unico-border-gradient: none;    
    border-image: none;
    border-style: solid;
	border-width: 1px;
    border-radius: 0px;
	border-color: @transparent;

    box-shadow: none;

	-unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 0px;
	-unico-inner-stroke-color: @transparent;

	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 6px 0px 6px 0px;	
	-unico-outer-stroke-color: @transparent;
}

#nautilus-search-button *,
NautilusWindow .primary-toolbar .toolbar .button GtkLabel,
NautilusWindow .primary-toolbar.toolbar .button GtkLabel {
	color: shade(@theme_fg_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

#nautilus-search-button *:prelight
NautilusWindow .primary-toolbar .toolbar .button *:hover,
NautilusWindow .primary-toolbar.toolbar .button *:hover {
	color: shade(@theme_text_color, 1.00);
    text-shadow: 0px 1px @theme_shadow_color;
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight, 
NautilusWindow .primary-toolbar .toolbar .button *:active,
NautilusWindow .primary-toolbar.toolbar .button *:active,
NautilusWindow .primary-toolbar .toolbar .button *:active:hover,
NautilusWindow .primary-toolbar.toolbar .button *:active:hover {
	color: shade(@theme_fg_color, 1.25);
    text-shadow: 0px 1px @theme_shadow_color;
}

#nautilus-search-button .button:active,
#nautilus-search-button .button:active:prelight,
NautilusWindow .primary-toolbar .toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:active,
NautilusWindow .primary-toolbar .toolbar .button:active:hover,
NautilusWindow .primary-toolbar.toolbar .button:active:hover {

	border-radius: 0px;

	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 6px 0px 6px 0px;	
	-unico-outer-stroke-color: @transparent;
	-unico-inner-stroke-width: 0px;
	-unico-inner-stroke-gradient: none;

    background-image: none;
    -unico-border-gradient: none;
	border-color: shade (@theme_bg_color, 0.85);
	background-color: shade (@theme_bg_color, 0.85);
}

#nautilus-search-button .button:prelight,
NautilusWindow .primary-toolbar .toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:hover {

	-unico-inner-stroke-width: 0px;
    -unico-inner-stroke-gradient: none;

    background-image: none;
    -unico-border-gradient: none;
	border-color: shade (@theme_bg_color, 0.90);
	background-color: shade (@theme_bg_color, 0.90);
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar,
NautilusWindow .sidebar.view, 
NautilusWindow .sidebar .view,
NautilusWindow .sidebar.view:prelight,
NautilusWindow .sidebar .view:prelight  {
    background-color: 	shade (@theme_bg_dark_color, 1.00);
 	color: 				@theme_fg_dark_color;
    text-shadow: 0px 1px @theme_shadow_dark_color;
}


NautilusWindow .sidebar .scrollbar {
	-GtkRange-trough-border: 	1;
    -GtkRange-slider-width:     6;
}

NautilusWindow .sidebar .scrollbar.trough,
NautilusWindow .sidebar .scrollbar.trough.vertical {
    background-image: none;
    background-color: shade (@theme_bg_dark_color, 1.00);
	-unico-inner-stroke-width:          0px;
}

/* overlay scrollbar */
NautilusWindow .sidebar OsThumb:selected,
NautilusWindow .sidebar OsScrollbar:selected {
    background-color:	shade (@theme_bg_dark_color, 0.60);
}

NautilusWindow .sidebar OsThumb:active,
NautilusWindow .sidebar OsScrollbar:active {
    background-color: shade (@theme_bg_dark_color, 0.46);
}

NautilusWindow .sidebar OsThumb:insensitive,
NautilusWindow .sidebar OsScrollbar:insensitive {
    background-color: shade (@theme_bg_dark_color, 0.68);
}


NautilusWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;
}

NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator {
	/* ubuntu-12 */
    background-color: shade (@theme_bg_dark_color, 1.00);
    border-color: shade (@theme_bg_dark_color, 1.00);
    border-style: solid;
    border-width: 0px;
    background-image: -gtk-gradient(linear,
                                    left top, right top,
                                    from (shade (@theme_bg_dark_color, 1.00)),
                                    to   (shade (@theme_bg_dark_color, 1.00)));

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0px;
}


NautilusWindow > GtkTable > .pane-separator:hover {
    background-color: shade (@theme_bg_dark_color, 1.00);
}

/* Nautilus 3.6 Toolbar-buttons */
NautilusToolbar .button,
NautilusToolbar .button:active,
NautilusToolbar .button:hover,
NautilusToolbar .button:hover:active {     
    border-style: solid;
    border-radius: 0px;
	border-color: @theme_bg_dark_color;
    border-image: none;
    box-shadow: none;
}

NautilusToolbar .button {
    icon-shadow: 0 1px @theme_shadow_color;
}

NautilusToolbar .button *:active {
    icon-shadow: 0 1px @theme_selected_shadow_color;
}



NautilusToolbar .button *:insensitive,
NautilusToolbar .button *:active:insensitive {
    text-shadow: none;
}

