/* default color scheme */
@define-color bg_color #e0e0e0;
@define-color fg_color #262626;
@define-color base_color #ffffff;
@define-color text_color #262626;
@define-color selected_bg_color #83A8D2;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #000;
@define-color tooltip_fg_color #ffffff;

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #3872A7;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (#e0e0e0, 1.0);
@define-color button_insensitive_bg_color mix (@button_bg_color, @bg_color, 0.6);
@define-color dark_bg_color #3c3b37;
@define-color dark_fg_color #dfdbd2;
@define-color transparent rgba (0, 0, 0, 0);

@import url("gtk-widgets.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-terminal.css");
@import url("apps/nautilus.css");
