style "theme-panel" = "dark"
{
	xthickness	= 1
	ythickness	= 0
	
	bg[NORMAL]	= shade (0.7, @bg_color_dark)
	bg[ACTIVE]	= shade (0.5, @bg_color_dark)
	bg[PRELIGHT]	= shade (0.35, @bg_color_dark)
	bg[SELECTED]	= shade (0.5, @base_color)
	
	fg[NORMAL]	= shade (0.7, @base_color)
	fg[PRELIGHT]	= @base_color
	fg[ACTIVE]	= shade (0.9, @base_color)
	fg[SELECTED]	= shade (0.9, @base_color)
	
	text[NORMAL]   = shade (0.9, @base_color)
	text[PRELIGHT] = @base_color
	text[ACTIVE]   = shade (0.9, @base_color)
	text[SELECTED]   = shade (0.9, @base_color)

	engine "murrine" {
		#border_shades	= { 1.3, 0.9 }
		contrast	= 0.0
		roundness	= 0
		glowstyle	= 0
		glow_shade	= 1.4
		glazestyle	= 2
		#trough_border_shades	= { 3.0, 2.5 } # improve visibility in panel-plugins using the progressbar (xfce4-timer-plugin)
	}
}

style "theme-panel-text"
{
	fg[NORMAL]	= @base_color
	fg[PRELIGHT]	= "#ffffff"
	fg[ACTIVE]	= @base_color
	
	text[NORMAL]   = @base_color
	text[PRELIGHT] = "#ffffff"
	text[ACTIVE]   = @base_color
}

style "panel-entry" = "dark"
{
	fg[NORMAL]	= @text_color
	fg[PRELIGHT]	= @text_color
	fg[ACTIVE]	= @text_color
	fg[SELECTED]	= @text_color
	fg[INSENSITIVE]	= @text_color

	text[NORMAL]		= @text_color
	text[PRELIGHT]		= @text_color
	text[ACTIVE]		= @text_color
	text[SELECTED]		= @text_color
	text[INSENSITIVE]	= @text_color

}

style "theme-main-menu-text" = "theme-panel-text"
{
	fg[PRELIGHT]   = "#ffffff"
	text[PRELIGHT] = "#ffffff"
}

widget "*PanelWidget*"              style "theme-panel"
widget "*PanelApplet*"              style "theme-panel"
widget "*fast-user-switch*"         style "theme-panel"
widget "*CPUFreq*Applet*"           style "theme-panel"
widget "*indicator-applet*"         style "theme-panel"
class "PanelApp*"                   style "theme-panel"
class "PanelToplevel*"              style "theme-panel"
widget_class "*PanelToplevel*"      style "theme-panel"
widget_class "*notif*"              style "theme-panel"
widget_class "*Notif*"              style "theme-panel"
widget_class "*Tray*"               style "theme-panel" 
widget_class "*tray*"               style "theme-panel"
widget_class "*computertemp*"       style "theme-panel"
widget_class "*Applet*Tomboy*"      style "theme-panel"
widget_class "*Applet*Netstatus*"   style "theme-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"       style "theme-panel"
widget_class "*Notif*Brasero*"      style "theme-panel"

# XFCE panel theming.
widget "*Xfce*Panel*"               style "theme-panel"
class "*Xfce*Panel*"                style "theme-panel"

# Fix gtk-entries in the panel
class "GtkEntry"		    style "comboboxentry"
class "*SexyIconEntry*"		    style:highest "comboboxentry"	# fixes dict-plugin
widget "*xfce4-verve-plugin*GtkEntry"	style:highest "comboboxentry"	# fixes verve-plugin

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"      style "theme-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*" style "theme-main-menu-text"
widget "*.clock-applet-button.*"    style "theme-panel-text"
widget "*PanelApplet*"              style "theme-panel-text"

# dark menus
#widget_class "*<GtkMenu>*"              	style "dark"
#widget_class "*<GtkMenuItem>*"          	style "wide-dark"
#widget_class "*<GtkMenuItem>.*.<GtkCalendar>"	style "dark"
#widget_class "*<GtkMenuItem>.*.<GtkEntry>"	style "panel-entry"
#widget_class "*<GtkMenuItem>.*.<GtkScale>" 	style "scale_menu_item"
#widget_class "*<GtkMenuBar>*"           	style "menubar"
#widget "*.gtk-combobox-popup-menu.*"   		style "wide-dark"

# dark bg and black text for gdm's panel
#widget_class "*GdmGreeterPanel*" style "panel-entry"
#widget "*GdmClockWidget*" style "dark"
