## Some additional thunar-specific theming

style "sidepane"
{
	base[NORMAL]	= mix (0.3, @bg_color,shade (1.35,@selected_bg_color))
	base[INSENSITIVE]	= shade (1.03,@selected_bg_color)
	bg[NORMAL]	= mix (0.3, @bg_color,shade (1.35,@selected_bg_color))
	bg[PRELIGHT]	= shade (1.2,@selected_bg_color)
	engine "murrine"
	{
		gradient_shades	= {1.1,1.1,1.1,1.1}
	}
}

style "sidepane-scrollbar"
{
	GtkScrollbar::trough-side-details = 1

	bg[NORMAL]	= mix (0.2, @bg_color,shade (1.03,@selected_bg_color))
	bg[ACTIVE]	= mix (0.2, @bg_color,shade (1.03,@selected_bg_color))
	bg[SELECTED]	= shade (1.4, @bg_color)
	bg[INSENSITIVE]	= @base_color
	
	engine "murrine" {
		colorize_scrollbar	= TRUE
		roundness		= 6
		focus_color		= shade (1.55,@selected_bg_color)
		border_shades		= { 1.2, 1.2 }
	}
}

widget_class "*ThunarShortcutsView*" style "sidepane"
widget_class "*ThunarTreeView*" style "sidepane"
#widget_class "ThunarWindow.GtkTable.GtkHPaned.ThunarShortcutsPane.GtkVScrollbar" style "sidepane-scrollbar"
#widget_class "ThunarWindow.GtkTable.GtkHPaned.ThunarTreePane.GtkVScrollbar" style "sidepane-scrollbar"
#widget_class "ThunarWindow.GtkTable.GtkHPaned.ThunarTreePane.GtkHScrollbar" style "sidepane-scrollbar"
