# ==============================================================================
# RESIZER
# ==============================================================================
style "default" {
	GtkWindow::resize-grip-width = 8
	GtkWindow::resize-grip-height = 8
}



# ==============================================================================
# AWN
# ==============================================================================
style "awn" {
	# colore sfondo pannello
	bg[NORMAL] = "#303030"
	
	# colore bordo esterno
	bg[ACTIVE] = "#262626"
	
	# colore launcher attivo
	#bg[SELECTED] = "#FF0000"

	# colore testo
	fg[NORMAL] = "#FFFFFF"
}
# bordo inner
widget "*PanelWidget*" style "awn"

# spazio vuoto
widget_class "AwnPanel.*" style "awn"

# notification area
widget_class "AwnApplet.*" style "awn"

# lanciatori e menu
class "AwnT*" style "awn"

# intero pannello
widget_class "Panel*" style "awn"
class "*Awn*" style "awn"
widget_class "*Awn*" style "awn"
widget "*Awn*" style "awn"
