/*NautilusView .background,
NautilusView .box,
NautilusView .viewport,*/
NautilusView .view, MarlinViewViewContainer .view{
	text-shadow: 0 0 2 black, 0 0 3 black, 0 1 3 black;
	border-style: none;
	border-width: 1px;
	border-radius: 3px;
}

NautilusIconViewContainer, ExoIconView {
	background-color: shade(@bg_color, 1.15);
}

ExoIconView .entry,
ExoIconView .entry:focused,
NautilusView .entry,
NautilusView .entry:focused{
	background-color: @transparent;
	background-image: none;
	color: @fg_color;
	padding: 0px;
	text-shadow: none;
	border-width: 1px;
	-unico-outer-stroke-width: 0px;
	-unico-inner-stroke-width: 0px;
	
}

/*
.nautilus-canvas-item:focused *,.nautilus-canvas-item:selected:focused,
.nautilus-canvas-item:selected:active *,
.nautilus-canvas-item:selected, MarlinViewViewContainer *:selected{
	border-style: none;
	border-width: 7px;
	
	background-image: -gtk-gradient (linear, left bottom, left top,
									 from (shade (@theme_selected_bg_color, 0.85)),
										color-stop (0.20, shade (@theme_selected_bg_color, 0.74)),
									 to (@theme_selected_bg_color));
	background-color: @theme_selected_bg_color;
}*/
/*
MarlinViewWindow .sidebar .view ,
MarlinViewWindow * .sidebar,
MarlinViewContextView *{
	background-color: ;
}*/

MarlinViewOverlayBar,
NautilusFloatingBar{
	border-radius: 3px 3px 0px 0px;
	background-color: @transparent;
	background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (alpha (@menu_color, 0.5)),
                                     to (alpha (shade (@menu_color, 0.46), 0.7)));
	border-color: alpha(@button_border, 0.3);
	border-width: 1px 1px 0px 1px;
	border-style: solid;
}

MarlinViewOverlayBar *,
NautilusFloatingBar *{
	background-color: @transparent;
	background-image: none;
}

NautilusSearchBar{
	text-shadow: -1 -1 alpha (shade (@bg_color, 0.2), 0.4);
}

NautilusSearchBar .entry,
NautilusSearchBar .entry:focused{
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                from (alpha (@entry_text_color, 0.00)),
                                                to (alpha (@base_color, 0.65)));
}

NautilusPlacesSidebar.frame{
	border-width: 0px;
	-unico-inner-stroke-width: 0;
	background-color: #FF00FF;
	background-image: none;
}

MarlinViewWindow .sidebar .view ,
MarlinViewWindow * .sidebar,
NautilusPlacesSidebar{
	border-width: 0px;
	-unico-inner-stroke-width: 0;
	background-image: none;
}

NautilusPathBar .button {
    background-color: @transparent;
    background-image: none;
    border-color: @transparent;
    border-radius: 2px;
    border-width: 1px;
    padding: 2px;
    margin: 0px;
    color: @dark_fg_color;
    -unico-border-gradient: -gtk-gradient (linear, left top, right top,
                                           from (alpha(@entry_text_color, 0.0)),
                                           to (alpha(shade (@button_border, 0.75), 0.2)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, right top,
                                               from (alpha(@entry_text_color, 0.0)),
                                               to (alpha(shade (@bg_color, 0.85), 0.5)));
    -unico-outer-stroke-gradient: none;										   
    -unico-outer-stroke-color: @transparent;
}
