
style "xfdesktop-icon-view" {
    font_name = "normal"
    XfdesktopIconView::label-alpha = 30
    XfdesktopIconView::selected-label-alpha = 60
    XfdesktopIconView::shadow-color = shade (1.05, @fg_color)
    XfdesktopIconView::selected-shadow-color = @fg_color
    XfdesktopIconView::shadow-x-offset = -1
    XfdesktopIconView::selected-shadow-x-offset = -1
    XfdesktopIconView::shadow-y-offset = -1
    XfdesktopIconView::selected-shadow-y-offset = -1
    fg[NORMAL] = @selected_fg_color
    fg[ACTIVE] = @selected_fg_color
    engine "murrine"
    {
	textstyle = 0
	text_shade = 0.05
    }
}

style "xfdesktop-icon-view" {
    XfdesktopIconView::label-alpha = 63
    XfdesktopIconView::selected-label-alpha = 127
    XfdesktopIconView::ellipsize-icon-labels = 1
    XfdesktopIconView::tooltip-size = 64

    XfdesktopIconView::shadow-x-offset = 0
    XfdesktopIconView::shadow-y-offset = 0
    XfdesktopIconView::shadow-color = "#000000"
    XfdesktopIconView::selected-shadow-x-offset = 0
    XfdesktopIconView::selected-shadow-y-offset = 0
    XfdesktopIconView::selected-shadow-color = "#000000"

    XfdesktopIconView::cell-spacing = 0
    XfdesktopIconView::cell-padding = 0
    XfdesktopIconView::cell-text-width-proportion = 1.8

    base[NORMAL] = "#000000"
    base[SELECTED] = "#ffffff"
    base[ACTIVE] = "#ffffff"

    fg[NORMAL] = "#ffffff"
    fg[SELECTED] = "#000000"
    fg[ACTIVE] = "#000000"
}

widget_class "*XfdesktopIconView*" style "xfdesktop-icon-view"


style "theme-panel"
{
	font_name = "Droid Sans 8"
	xthickness	= 2
	ythickness	= 2
	
	bg[NORMAL]	= shade (0.0, "#000000")
	bg[ACTIVE]	= shade (0.5, "#222222")
	bg[PRELIGHT]	= shade (0.35, "#222222")
	bg[SELECTED]	= shade (0.5, "#222222")
	
	fg[NORMAL]	= shade (0.9, "#cccccc")
	fg[PRELIGHT]	= "#cccccc"
	fg[ACTIVE]	= shade (0.9, "#cccccc")
	fg[SELECTED]	= shade (0.9, "#cccccc")
	
	text[NORMAL]   = shade (0.9, "#cccccc")
	text[PRELIGHT] = "#cccccc"
	text[ACTIVE]   = shade (0.9, "#cccccc")
	text[SELECTED]   = shade (0.9, "#cccccc")

	engine "murrine" {
		#border_shades	= { 1.3, 0.9 }
		contrast	= 0.0
		roundness	= 0
		glowstyle	= 0
		glow_shade	= 1.4
		glazestyle	= 2
		#trough_border_shades	= { 3.0, 2.5 } # improve visibility in panel-plugins using the progressbar (xfce4-timer-plugin)
	}
}

style "theme-panel-text"
{
	fg[NORMAL]	= "#cccccc"
	fg[PRELIGHT]	= "#ffffff"
	fg[ACTIVE]	= "#cccccc"
	
	text[NORMAL]   = "#cccccc"
	text[PRELIGHT] = "#ffffff"
	text[ACTIVE]   = "#cccccc"
}

style "panel-entry"
{
	fg[NORMAL]	= "#222222"
	fg[PRELIGHT]	= "#222222"
	fg[ACTIVE]	= "#222222"
	fg[SELECTED]	= "#222222"
	fg[INSENSITIVE]	= "#222222"

	text[NORMAL]		= "#222222"
	text[PRELIGHT]		= "#222222"
	text[ACTIVE]		= "#222222"
	text[SELECTED]		= "#222222"
	text[INSENSITIVE]	= "#222222"

}

style "theme-main-menu-text" = "theme-panel-text"
{
	fg[PRELIGHT]   = "#ffffff"
	text[PRELIGHT] = "#ffffff"
}

style "workspace-switcher" = "theme-panel"
{
	bg[SELECTED] = shade (0.8, @selected_bg_color)
}

style "weather" {
	font_name = "Droid Sans 10"
}

widget "*PanelWidget*"              style "theme-panel"
widget "*PanelApplet*"              style "theme-panel"
widget "*fast-user-switch*"         style "theme-panel"
widget "*CPUFreq*Applet*"           style "theme-panel"
widget "*indicator-applet*"         style "theme-panel"
class "PanelApp*"                   style "theme-panel"
class "PanelToplevel*"              style "theme-panel"
widget_class "*PanelToplevel*"      style "theme-panel"
widget_class "*notif*"              style "theme-panel"
widget_class "*Notif*"              style "theme-panel"
widget_class "*Tray*"               style "theme-panel"
widget_class "*tray*"               style "theme-panel"
widget_class "*computertemp*"       style "theme-panel"
widget_class "*Applet*Tomboy*"      style "theme-panel"
widget_class "*Applet*Netstatus*"   style "theme-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"       style "theme-panel"
widget_class "*Notif*Brasero*"      style "theme-panel"

# XFCE panel theming.
widget "*Xfce*Panel*"               style "theme-panel"
class "*Xfce*Panel*"                style "theme-panel"
widget "*WnckPager*"	    style "workspace-switcher"

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"      style "theme-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*" style "theme-main-menu-text"
widget "*.clock-applet-button.*"    style "theme-panel-text"
widget "*PanelApplet*"              style "theme-panel-text"

# dark bg and black text for gdm's panel
widget_class "*GdmGreeterPanel*" style "panel-entry"
widget "*Xfce*Scrollbox*" style "weather"


style "evolve-tooltips" {
    xthickness = 10
    ythickness = 5

    bg[NORMAL] = "#000000"
    fg[NORMAL] = "#ffffff"
    bg[SELECTED] = "#000000"

    engine "murrine" {
	textstyle = 0
	roundness = 10
    }
}

widget "gtk-tooltip*" style "evolve-tooltips"

