/* Default color scheme */
@define-color bg_color #d2d2d2;
@define-color fg_color #2c2c2c;
@define-color base_color #f7f7f7;
@define-color text_color #2c2c2c;
@define-color selected_bg_color #799ABE;
@define-color selected_fg_color #ffffff;
@define-color tooltip_bg_color #F5F5B5;
@define-color tooltip_fg_color #2c2c2c;

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* theme common colors */
@define-color button_bg_color shade (@bg_color, 1.06);
@define-color button_insensitive_bg_color shade (@bg_color, 0.95);
@define-color dark_bg_color #3f3f3f;
@define-color dark_fg_color #ffffff;
@define-color transparent rgba (0, 0, 0, 0);

@define-color backdrop_selected_bg_color shade (@bg_color, 0.9);
@define-color backdrop_selected_fg_color @fg_color;

/* Zukitwo colors */
@define-color toolbar_gradient_base @bg_color;
@define-color toolbar_gradient_final shade (@bg_color, 0.96);
@define-color toolbar_border shade (@bg_color, 0.92);

/******
 * WM *
 ******/
@define-color wm_title @fg_color;
@define-color wm_unfocused_title @fg_color;
@define-color wm_highlight #ffffff;
@define-color wm_title_highlight_dark alpha(#ffffff, 0.0);
@define-color wm_title_highlight #ffffff;

@define-color wm_bg_a shade (@bg_color, 1.07);
@define-color wm_bg_b @bg_color;

@import url("gtk-main-common.css");
@import url("gtk-widgets.css");
@import url("gtk-widgets-borders.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gedit.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-terminal.css");
@import url("apps/nautilus.css");
@import url("apps/unity.css");
@import url("apps/popover.css");
