@-webkit-keyframes slide-down-status {
  from { top: -32px; }
  to { top: 0; }
}
@-webkit-keyframes slide-up-status {
  from { top: 0; }
  to { top: -55px; }
}
.slideUp {
  -webkit-animation-name:slide-up-status;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
}
.slideDown {
  -webkit-animation-name:slide-down-status;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}

body {
  font-size:70%;
  margin:10px;
}

a { 
  color: rgb(56,56,56);
}
a:hover {
  color: rgba(56,56,56,0.9);
}

a#original-newtab,
a[data-target] { cursor:pointer; }

a#original-newtab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1em;
  padding: 38px 0 6px 0;
  font-size:1.1em;
  width: 48px;
  background: #FFF url(images/apps.png) top center no-repeat;
  text-align:center;
  opacity: 0.8;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
}

a#original-newtab:hover {
  -webkit-transform: scale(1.1);
}

#header {
  padding-bottom:1.5em;
  padding-top:1.5em;
}

#header h1 {
  font-size: 156%;
  display:inline;
  padding-bottom:43px;
  padding-left:75px;
  padding-top:40px;
  background:url(icon128.png) no-repeat;
  background-size:67px;
  background-position:1px 18px;
}

.section-header {
  background:#ebeff9;
  border-top:1px solid #b5c7de;
  font-size:99%;
  padding:3px 0 2px 5px;
  font-weight:bold;
  margin-bottom:1em;
  margin-top:4em;
}

.section-header.first {
  margin-top:1em;
}

input[type="text"] {
  width:300px;
}

#footer {
  margin-top:4em;
}

span.desc-text {
   display:block;
   min-width: 500px
}

div#status {
  position:fixed;
  height:32px;
  width:220px;
  margin-left:-110px;
  top:0;
  left:50%;
  padding:4px;
  z-index:1001;
  font-size:15px;
  color:#000;
  background-color:#ebeff9;
  display:none;
  text-align:center;
  text-shadow: 1px 2px 3px #b5c7de;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  border-right:1px solid #b5c7de;
  border-bottom:1px solid #b5c7de;
  border-left:1px solid #b5c7de;
}

ul.links {
  padding:0;
  margin:0;
  width:200px;
  float:left;
}

ul.links li {
  list-style-type:none;
}

ul.horizontal-links {
  padding:0;
  margin:0;
  white-space:nowrap;
  list-style-type:none;
  height:30px;
}

ul.horizontal-links li {
  display:inline;
  float:left;
}

ul.horizontal-links li a {
  padding: 0.3em 0.7em;
  border: 1px solid #B5C7DE;
  background-color: #EBEFF9;
  margin: 0.3em;
  border-radius: 4px;
  text-shadow: 1px 2px 3px #B5C7DE;
  text-decoration: none;
  display:block;
  background-image: -webkit-linear-gradient(bottom, #B5C7DE 40%, #EBEFF9 70%);
}

ul.horizontal-links li a:hover {
  background: rgba(235,239,249,0.8);
}

.fix { clear:both; S}

/* Make top headings a little softer */
h1, h2 { color: rgba(0,0,0,0.8); }
#options_subheading { color: rgba(0,0,0,0.9); }

h2 {
  border-bottom: 1px solid #B5C7DE;
  margin-top:1.3em;
}

p.quick-links {
  font-size: 0.9em;
  font-style: italic;
}
