[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Docky
Type=Application
Exec=docky
Terminal=false
Icon=docky
Comment=The finest dock no money can buy.
NoDisplay=false
Categories=Utility;
Hidden=true
